service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
  match /users/{userId} {
    allow write: if request.auth != null;
  }

  match /org/{orgId} {
    allow write: if request.auth != null;
  }

  match /staff/{staffId} {
    allow write: if request.auth != null;
  }
}
