.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.card {
  border: transparent;
  align-items: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-header {
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: small;
  border-bottom: transparent;
  border: none;
  background-color: white;
  background: white;
}

.card-body {
  padding: 1.5rem;
  border: none;
}

.card-text {
  font-size: small;
}

.profile-section {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  flex: 1;
}

.complaints-section {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  flex: 2;
}

.complaints-section ul {
  list-style: none;
  padding: 0;
}

.complaints-section li {
  margin-bottom: 10px;
}

/* Apply flexbox to the row container */
.row {
  display: flex;
  gap: 15px;
}

/* Media query to stack sections vertically on smaller screens */
@media (max-width: 768px) {
  /* Adjust breakpoint as needed */
  .row {
    flex-direction: column; /* Stack sections vertically */
  }
}