footer {
    background-color: #0c007c;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #FF9900;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-title-line {
    position: initial;
    content: "";
    left: 0;
    top: 3px;
    width: 80%;
    height: 4px;
    background: #FF9900;
    border-radius: 6px;
  }

.media-icon {
    height: 25px;
    width: auto;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.list-unstyled li {
    margin-bottom: 8px;
    align-items: center;
}

.list-unstyled a {
    text-decoration: none;
    color: white;
}

.list-unstyled a:hover {
    color: #FF9900;
}

.text-muted {
    padding: 10px;
    background: white;
    border-radius: 25px;
    font-weight: 500;
    color: black;
}

  .dev-heading {
    margin-bottom: 10px;
  }

  .dev-image {
    width: 140px;
    height: auto;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
  }
