.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.header,
.footer {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}
